<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - StudentApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/datatables.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudentApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - StudentApp
        </div>
    </footer>

    <script type="text/javascript">
        $("#loginform").submit(function (e) {
            event.preventDefault();
            disableButton();
            $.ajax({
                type: "POST",
                url: "/token/authenticate",
                data: JSON.stringify({ username: $("#username").val(), password: $("#password").val() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    localStorage.token = data.token;
                    window.location.href = "/student";
                },
                error: function (data) {
                    alert(data.responseJSON.message);
                    enableButton();
                },
            });
        });

        function logout() {
            $.ajax({
                type: "GET",
                url: "/student/logout",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);  // set token to request header
                },
                success: function (data) {
                    localStorage.clear();
                    window.location.href = "/";
                },
                error: function (data) {
                    alert(data.responseJSON.message);
                },
            });
        }

        function disableButton() {
            var btn = $("#btnsubmit");
            btn.html("LÜTFEN BEKLEYİN...");
            btn.attr("disbled", "true");
        }
        function enableButton() {
            var btn = $("#btnsubmit");
            btn.html("GİRİŞ");
            btn.removeAttr("disbled");
        }
    </script>
    
</body>
</html>
