@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Student.Data.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="#" title="Manage">Hoşgeldin @User.FindFirst(ClaimTypes.Name).Value !</a>
        </li>
        <li class="nav-item">
            <form  class="form-inline">
                <button  type="button" onclick="logout()" class="nav-link btn btn-link text-dark">Sistemden Çıkış</button>
            </form>
        </li>
    }
    else
    {
    @*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Sisteme Giriş</a>
        </li>
    }
</ul>

